.SectionM5{
	background-image:linear-gradient(
		to right,
		rgba(28, 53, 107, 0.7),
		rgba(28, 53, 107, 0.7)
	  ), url(./../../../../assets/Services/Management/section_5.jpg);
	width: 100%;
	background-position: center;
	background-size: cover;
	padding: 50px 0;
}
.SectionM5 p{
	color: white;
}
.SectionM5 p:nth-child(1){
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.SectionM5 p:nth-child(2){
	font-size: 12px;
	text-align: center;
}
.SectionM5 p:nth-child(3){
	font-size: 14px;
	text-align: center;
	background-color: #006FFF;
	width: 130px;
	padding: 8px 0;
	margin-top: 30px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.SectionM5 p:nth-child(3):hover{
	transform: translateY(-3px);
}
