.SectionM7{
	margin-top: 50px;
	margin-bottom: 50px;
}
.SectionM7 p{
	font-size: 13px;
}
.SectionM7 h2{
	margin-top: 50px;
	margin-bottom: 30px;
}
.SecM7_img1, .SecM7_img2, .SecM7_img3{
	height: 60px !important;
	width: 80px !important;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.SecM7_img1{
	background-image: url(./../../../../assets/Services/Management/section7_1.jpg);
}
.SecM7_img2{
	background-image: url(./../../../../assets/Services/Management/section7_2.jpg);
}
.SecM7_img3{
	background-image: url(./../../../../assets/Services/Management/section7_3.jpg);
}
.SectionM7__box{
	border: 1px solid transparent;
	padding: 10px 0;
}
.SectionM7__box:hover{
	border:1px solid rgb(192, 192, 192);
	border-radius: 20px;
}
@media only screen and (max-width: 768px) {
	.SectionM7 p{
		margin-top: 10px !important;
		font-size: 13px;
	}
	.SectionM7 h2{
		font-size: 22px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
}