.bannerBlog{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
/* ======================== pjesa e banerit me text ========================================= */
.banner__textBlog{
    color: white;
    text-align: left;
}
.banner__textBlog h1{
    font-size: 40px;
    width: 90%;
}
.banner__textBlog p {
    width: 80%;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* ======================== pjesa e banerit me foto ========================================= */
.banner__imgBlog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner__imgBlogLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}
.banner-img1Blog, .banner-img3Blog, .banner-img4Blog{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.banner-img1Blog{
    background-image: url(./../../../assets/Blog/blogBanner1.jpg);
    height: 400px;
}
.banner-img3Blog{
    background-image: url(./../../../assets/Blog/blogBanner2.jpg);
    height: 280px;

}
.banner-img4Blog{
    background-image: url(./../../../assets/Blog/blogBanner3.jpg);
    margin-top: 100px;
    width: 80%;
    height: 180px;
    margin-left: 3vw;
}

@media only screen and (max-width: 992px) {
    .banner__textBlog h1{
        margin-top: 30px;
        font-size: 29px;
        width: 100%;
        text-align: center;
    }
    .banner__textBlog p {
        width: 90%;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .BlogS1Btn{
        text-align: center;
    }
    .banner__textBlog a{
        text-align: center;
    }
    .banner-img1Blog{
        height: 300px;
    }
    .banner-img3Blog{
        height: 220px;
        margin-left: 10px;
    }
    .banner-img4Blog{
        height: 150px;
    }
    .banner__imgLeftBlog{
        padding-left: 5px;
        padding-right: 5px;
    }
    .banner-img1Blog{
        height: 380px;
    }
}



@media only screen and (max-width: 500px) {
    .bannerBlog {
        width: 100%;
    }
    .banner__textBlog h1{
        font-size: 23px;
        margin-top: 0;
    }
    .banner__textBlog p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__textBlog a{
        padding: 10px 35px;
        border-radius: 50px;
    }
    .banner__imgBlog{
        margin-top: 30px;
    }
    .banner-img1Blog{
        height: 300px;
    }
    .banner-img3Blog{
        height: 180px;
    }
    .banner-img4Blog{
        margin-top: 100px;
        height: 130px;
        margin-left: 3vw;
    }
}