.SectionB3{
    height: 870px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
}
.SectionB3_container{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0 !important;
}
.SectionB3__title{
    margin-top: 1px;
    display: flex;
    flex-direction: row;
}
.SectionB3__title h1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
}
.SectionB3__title-btn {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Bsection3-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #006FFF;
    padding: 12px 45px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    border: 2px solid transparent;
}
.Bsection3-btn:hover{
    color:  #006FFF;
    background-color: #f0f0f0;
    border: 2px solid #006FFF;
    font-weight: bold;
    text-decoration: none;
}
.SectionB3__wrapper_c{
    width: 100%;
    margin-top: 50px;
    background-color: #f0f0f0 !important;
}
.SectionB3__wrapper {
    width: 100%;
    margin-top: 5px;
}
.boxB3a, .boxB3b{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 150%;
    margin: 10px;
}
.boxB3a {
    height: 270px;
    width: 32%;
}
.boxB3b {
    height: 320px;
}
.boxB3a:hover, .boxB3b:hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.B3img1,.B3img2,.B3img3,.B3img4,.B3img5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.B3img1{
    background-image: url(./../../../assets/Blog/inspirations1.jpg);
}
.B3img2{
    background-image: url(./../../../assets/Blog/inspirations2.jpg);
}
.B3img3{
    background-image: url(./../../../assets/Blog/inspirations3.jpg);
}
.B3img4{
    background-image: url(./../../../assets/Blog/inspirations4.jpg);
    width: 31.5%;
}
.B3img5{
    background-image: url(./../../../assets/Blog/inspirations5.jpg);
    width: 65%;
}
.B3img1 p, .B3img2 p, .B3img3 p, .B3img4 p, .B3img5 p{
    font-size: 18px;
}
.boxB3a__content{
    margin-top: 120px;
}
.boxB3b__content{
    margin-top: 180px;
}
.boxB3__content h3, .boxB3b__content h3{
   font-size: 25px;
}
.row1{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 1200px) {
.boxB3a__content h4,.boxB3b__content h4 {
    font-size: 20px;
}
}
@media only screen and (max-width: 990px) {
    .SectionB3{
        height: 1700px;
    }
    .boxB3a {
        width: 60%;
    }
    .row1{
        flex-direction: column;
        align-items: center;
    }
    .B3img4, .B3img5{
        width: 60%;
    }
    .row2{
        flex-direction: column;
        align-items: center;
    }
    .SectionB3__wrapper{
        margin-left: auto;
        margin-right: auto;
    }

}
@media only screen and (max-width: 768px) {
    .boxB3a {
        width: 80%;
    }
    .B3img4, .B3img5{
        width: 80%;
    }
    .SectionB3__title h1 {
        font-size: 25px;
    }
    .Bsection3-btn{
        padding: 4px 20px;
        border-radius: 7px;
    }
}
