.SectionCo1{
    width: 100%;
    height: 900px;
    background-color: #71ABF6;
}
.Co_wapper{
    height: 900px;
}

@media only screen and (max-width: 992px) {
    .SectionCo1{
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
    .Co_wapper{
        height: 800px;
    }
}
@media only screen and (max-width: 992px) {
    .SectionCo1_left h1{
        font-size: 30px;
    }
}
