.SectionTQ6{
	margin-top: 70px;
	margin-bottom: 70px;
}
.SectionTQ6_img1{
    background-image: url(./../../../../assets/Services/Testing&Qa/section6_icon1.jpg);
    height: 240px;
}
.SectionTQ6_img2{
    background-image: url(./../../../../assets/Services/Testing&Qa/section6_icon2.jpg);
    height: 240px;
}
.SectionTQ6_img3{
    background-image: url(./../../../../assets/Services/Testing&Qa/section6_icon3.jpg);
    height: 240px;
}