.SectionWPD7{
	margin-top: 70px;
	margin-bottom: 70px;
}
.SectionWPD7_img1{
    background-image: url(./../../../../assets/Services/WebPortalDevelopment/section7_icon1.jpg);
    height: 240px;
}
.SectionWPD7_img2{
    background-image: url(./../../../../assets/Services/WebPortalDevelopment/section7_icon2.jpg);
    height: 240px;
}
.SectionWPD7_img3{
    background-image: url(./../../../../assets/Services/WebPortalDevelopment/section7_icon3.jpg);
    height: 240px;
}