.SectionITO6 > h3{
	margin-top: 80px;
	text-align: center;
	margin-bottom: 40px;
}

.SectionITO6_icon1, .SectionITO6_icon2, .SectionITO6_icon3{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid rgb(233, 233, 233);
}
.SectionITO6_icon1{
	background-image: url(./../../../../assets/Services/IT-Outsourcing/section_6img_1.jpg);
}
.SectionITO6_icon2{
	background-image: url(./../../../../assets/Services/IT-Outsourcing/section_6img_2.jpg);
}
.SectionITO6_icon3{
	background-image: url(./../../../../assets/Services/IT-Outsourcing/section_6img_3.jpg);
}
@media only screen and (max-width: 768px) {
	.SectionITO6 > h3{
		margin-top: 60px;
		font-size: 23px;
		margin-bottom: 20px;
	}
}