.teknologies{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
.teknologies h1{
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    font-weight: 600;
}

.logo-java, .logo-html, .logo-css, .logo-react, .logo-wordpress, .logo-php{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.logo-java{
    background-image: url(./../../../assets/Home/java2.png);
}
.logo-html{
    background-image: url(./../../../assets/Home/html.png);
}
.logo-css{
    background-image: url(./../../../assets/Home/css.png);
}
.logo-react{
    background-image: url(./../../../assets/Home/react.png);
}
.logo-wordpress{
    background-image: url(./../../../assets/Home/wordpress.png);
}
.logo-php{
    background-image: url(./../../../assets/Home/php.png);
}
@media only screen and (max-width: 800px) {
    .logo-java, .logo-html, .logo-css, .logo-react, .logo-wordpress, .logo-php{
        height: 80px;
        width: 80px;
    }
    .teknologies h1{
        font-size: 30px;
    }
}
@media only screen and (max-width: 500px) {
    .logo-java, .logo-html, .logo-css, .logo-react, .logo-wordpress, .logo-php{
        height: 60px;
        width: 60px;
    }
    .teknologies h1{
        font-size: 28px;
    }
}