.SectionEC3{
	background-image:linear-gradient(
		to right,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)
	  ), url(./../../../../assets/Services/Ecommerce/section_3bg.jpg);
	width: 100%;
	background-position: center;
	background-size: cover;
	padding: 50px 0;
	margin-top: 50px;
}
.SectionEC3 p{
	color: white;
}
.SectionEC3 p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.SectionEC3 p:nth-child(2){
	font-size: 13px;
	text-align: center;
	font-weight: 400;
}
.SectionEC3 p:nth-child(3){
	font-size: 14px;
	text-align: center;
	background-color: #006FFF;
	width: 220px;
	padding: 8px 0;
	margin-top: 30px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.SectionEC3 p:nth-child(3):hover{
	transform: translateY(-3px);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.39);
}
@media only screen and (max-width: 576px) {
	.SectionEC3 p:nth-child(1){
		font-size: 20px;
	}
}