.sectionWS4 {
  margin: 4rem 0;
}
.sectionWS4 > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.sectionWS4 > div > h2:first-child {
  line-height: 2.7rem;
}
.sectionWS4 > div > h2::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 2px;
  display: block;
  margin: 0 3.5rem;
  background-color: #006fff;
}

.sectionWS4_card {
  margin: 2rem 0;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.sectionWS4_icon1 {
  background-image: url("../../../assets/images/icons/surface1.svg");
}
.sectionWS4_icon2 {
  background-image: url("../../../assets/images/icons/alert.svg");
}
.sectionWS4_icon3 {
  background-image: url("../../../assets/images/icons/internet.svg");
}

.sectionWS4_icon_box {
  background-color: #006fff;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}
.sectionWS4_icon_box > div:first-child {
  width: 40px;
  height: 40px;
}

@media (max-width: 992.98px) {
  .sectionWS4_card {
    flex-flow: column;
  }
}
