.sectionWS1 {
  background-image: linear-gradient(
      0deg,
      rgba(34, 39, 62, 0.4),
      rgba(34, 39, 62, 0.4)
    ),
    url("../../../assets/images/webServices/Rectangle\ 165.jpg");
}

.sectionWS1 > div:first-child {
  padding: 11% 2%;
}

.img_webServices_1 {
  background-image: url("../../../assets/images/webServices/Image\ 4.jpg");
  height: 450px;
}
.sectionWS1_row > div:last-child > p:nth-child(2){
  color: white !important;
}

.sectionWS1_text > h1 {
  font-size: 2.2rem;
}

.chevron {
  margin-left: 75px;
  margin-bottom: 15px;
}
.chevron:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 80px;
  height: 67%;
  width: 80px;
  background: #006fff;
}
.chevron:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 97%;
  border-top: 80px solid #0255c1;
  border-left: 80px solid transparent;
}

@media (max-width: 1200px) {
  .chevron {
    margin-bottom: -13px;
  }
  .chevron:before {
    height: 58%;
  }
  .chevron:after {
    width: 97%;
  }
  .sectionWS1_text {
    padding: 8% 5% 1% 5% !important;
  }
}

@media (max-width: 992px) {
  .img_webServices_1 {
    height: 350px;
  }
  .sectionWS1 > div:first-child {
    padding: 8rem 2%;
  }
  .sectionWS1_row {
    flex-flow: wrap-reverse !important;
  }
  .sectionWS1_text {
    padding: 7% 12% 5% 1% !important;
  }
  .chevron {
    margin-left: 18px;
    margin-bottom: 93px;
  }
  .chevron:before {
    height: 82%;
  }
  .chevron:after {
    width: 88.5%;
  }
}
@media (max-width: 768px) {
  .chevron {
    margin: 2% !important;
  }
  .chevron:before {
    content: none;
  }
  .chevron:after {
    content: none;
  }
}
@media (max-width: 576px) {
  .sectionWS1_text > h1 {
    font-size: 1.6rem !important;
  }
}
