.SectionT2{
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.SectionT2 h1{
    text-align: center;
}
.brcpxa {
    background-color: #005FDB !important;
    box-shadow: 0 0 1px 3px rgb(9, 77, 155) !important;
}
.TeamSlider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* @media only screen and (min-width: 1500px) {
    .SectionT2{
        width: 70%;
    }
}
@media only screen and (max-width: 1500px) {
    .SectionT2{
        width: 90%;
    }
} */
@media only screen and (max-width: 700px) {
    .SectionT2{
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .SectionT2{
        width: 100%;
    }
    .slick-slider {
        padding: 0rem 0 !important;
    }
}
@media only screen and (max-width: 400px) {
    .SectionT2{
        width: 100%;
    }
    .slick-list {
        margin: 0 0rem !important;
    }
}