@media (max-width: 1200px) {
  .searchIcon {
    float: right;
    margin-left: auto;
  }
  .DesktopOnly {
    display: none;
  }
  .d-login {
    display: none;
  }
}
@media (min-width: 1200px) {
  .DrawerToggle {
    display: none;
  }
  .d-login {
    display: inline-flex;
  }
}
