.SectionCL1{
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sectionCL1_img{
	background-image: url(./../../../../assets/Services/Cloud/section_1.jpg);
	background-position: center;
	background-size: cover;
	height: 300px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sectionCL1_shape{
	width: 283px;
	height: 300px;
	background-color: #78B2FF;
	position: absolute;
	border-top-left-radius: 20px;
	transform: translate(79vw, -450px);
	/* clip-path: polygon(0 0, 60% 0, 90% 100%, 0 100%); */
}

@media only screen and (max-width: 992px) {
	.SectionCL1{
		height: 900px;
	}
}