.SectionCS1{
    width: 100%;
    height: 650px;
    background-image:linear-gradient(to right , rgba(54, 54, 54, 0.397), rgba(54, 54, 54, 0.4)), url(./../../../assets/CaseStudies/bannerCS.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.SectionCS1c{
    width: 90%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 750px) {
    .SectionCS1{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .SectionCS1{
        width: 100%;
    }
}
