
.SectionCBS6{
	margin-top: 70px;
	margin-bottom: 70px;
}
.SectionCBS6_img1{
    background-image: url(./../../../../assets/Services/Cybersecurity/section_6img1.jpg);
    height: 240px;
}
.SectionCBS6_img2{
    background-image: url(./../../../../assets/Services/Cybersecurity/section_6img2.jpg);
    height: 240px;
}
.SectionCBS6_img3{
    background-image: url(./../../../../assets/Services/Cybersecurity/section_6img3.jpg);
    height: 240px;
}
.SectionCBS6__link {
	display: flex;
    justify-content: flex-end;
}
.SectionCBS6__box{
	padding: 15px 0;
}
.SectionCBS6__box:hover{
	background-color: rgb(230, 227, 227);
	border-radius: 20px;
}
@media only screen and (max-width: 992px) {
	.SectionCBS6-txt p{
		font-size: 14px;
	}
	.SectionCBS6-txt h4{
		font-size: 18px;
	}
	.SectionCBS6-txt a{
		font-size: 12px !important;
	}
	.SectionCBS6-txt{
		padding-bottom: 40px;
	}
}
@media only screen and (max-width: 768px) {
	.SectionCBS6-txt{
		margin-top: 20px;
	}
	.SectionCBS6__link {
		display: flex;
		justify-content: center;
	}
}
