.banner{
    width: 85%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

/* ======================== pjesa e banerit me text ========================================= */
.banner__text{
    margin-top: 10%;
    width: 45%;
    color: white;
    text-align: left;
}
.banner__text h1{
    font-size: 55px;
    width: 80%;
}
.banner__text p {
    width: 70%;
}
.div-banner-btn{
    margin-top: 70px;
}
.banner__text a{
    color: white;
    margin-top: 100px;
    text-decoration: none;
    color: white;
    background-color: #006FFF;
    padding: 12px 45px;
    border-radius: 50px;
}
.banner__text a:hover{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
}
@media only screen and (max-width: 800px) {
    .banner{
        height: 110vh;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__text{
        margin-top: 10%;
        width: 95%;
        color: white;
        text-align: center;
    }
    .banner__text h1{
        margin-left: auto;
        margin-right: auto;
        font-size: 55px;
        width: 80%;
    }
    .banner__text p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .div-banner-btn{
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__img{
        margin-top: 5%;
        width: 85% !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 900px) {
    .banner__text h1{
        font-size: 28px;
        width: 80%;
    }

}

@media only screen and (max-width: 1260px) {
    .banner__text h1{
        font-size: 38px;
        width: 80%;
    }

}

/* ======================== pjesa e banerit me foto ========================================= */
.banner__img{
    margin-top: 5%;
    width: 53%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner__imgLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.banner__imgRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.banner-img1{
    padding: 10px 0px 10px 10px;
    border-radius: 0 32% 0 32%;
    width: 100%;
}
.banner-img1:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.banner-img2{
    margin-top: 15px;
    padding: 10px 0px 10px 10px;
    width: 50%;
    height: 140px;
    background-color: #006FFF;
    margin-left: 45%;
    border-radius: 32% 0 32% 0;
}
.banner-img2:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.banner-img3{
    padding: 10px 10px 10px 0px;
    border-radius: 32% 0 32% 0;
    width: 100%;
}
.banner-img3:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.banner-img4{
    padding: 10px 10px 10px 0px;
    border-radius: 32% 0 32% 0;
    width: 100%;
}
.banner-img4:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}