.team{
    width: 100%;
    background-color: #f0f0f0;
}
.team-c{
    width: 85%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}
.team__left{
    width: 48%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team__left h1{
    font-size: 45px;
    width: 80%;
    text-align: left;
}
.team__left p{
    width: 70%;
    font-size: 22px;
    text-align: left !important;
}
.team-btn-container{
    margin-top: 70px;
}
.team-btn-container a{
    margin-top: 70px;
    color: white;
    margin-top: 100px;
    text-decoration: none;
    color: white;
    background-color: #006FFF;
    padding: 12px 45px;
    border-radius: 50px;
}
.team-btn-container a:hover{
    color: #006FFF;
    border: 1px solid #006FFF;
    background-color: #fff;
    border-radius: 50px;
}
.team-btn{
    margin-top: 70px;
}
/* ======================================================================= */
@media only screen and (max-width: 800px) {
    .team-c{
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .team__left{
        width: 100%;
        text-align: center;
    }
    .team__left h1{
        font-size: 35px;
        width: 100%;
        text-align: center;
    }
    .team__left p{
        width: 100%;
        font-size: 20px;
        text-align: center !important;
    }
    .team__Right{
        width: 100% !important;
    }
}

.team__Right{
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 70px;
}

.team__Right1{
    width: 50%;
}
.team__Right1-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
}
.team__Right1-imgA{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
    margin: 0;
}
.team__Right1:hover{
    animation: zoomi 1s ease-in-out;
}

.team__Right1-con{
    background-color: #006FFF;
    padding: 60px;
    margin-top: 0;
    color: #fff;
    margin-top: -4px;
    text-align: left;
}
.team__Right1-con2{
    background-color: #B2B2B2;
    padding: 60px;
    margin-top: 0;
    color: #fff;
    margin-top: -4px;
    text-align: left;
}
.team__Right1-con p{
    font-size: 20px;
    margin-bottom: 40px;
}
.team__Right1-con2 p{
    font-size: 20px;
    margin-bottom: 40px;
}
/* ================= */
.team__Right2{
    width: 50%;
    margin-top:29%;
}
.team__Right2:hover{
    animation: zoomi 1s ease-in-out;
}
.quotes{
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
}
.awssld__box, .awssld--active{
    margin: 0 !important;
}
.team__thojzat{
    font-size: 40px !important; 
    padding: 10px !important;
    color: black;
    background-color: white;
    border-radius: 50%;
}
/* ================================ */
.shigjeta-c{
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
}
.shigjeta-majt{
    width:49%;
    padding: 0px 15px;
    background-color: black;
    color: white;
    margin:20px;
    cursor: pointer;
}
.shigjeta-djatht{
    width:49%;
    padding: 0px 15px;
    background-color: black;
    color: white;
    margin:20px;
    cursor: pointer;
}
.shigjeta__icon{
    padding: 0px 10px;
    background-color: black;
    color: white;
    font-size: 50px;
}
@keyframes zoomi{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}


@media only screen and (max-width: 500px) {
    .team{
        height: 125vh;
    }
    .team-c{
        margin-top: 70px;
    }
    .team__left{
        width: 100%;
        text-align: center;
    }
    .team__left h1{
        font-size: 27px;
        width: 100%;
        text-align: center;
    }
    .team__left p{
        width: 100%;
        font-size: 18px;
        text-align: center !important;
    }
    .team-btn-container{
        margin-top: 40px;
    }
    .team__Right{
        width: 100% !important;
    }
    .team__Right1-con, .team__Right1-con2   {
        padding: 10px;
    }
    .team__Right1-con h1, .team__Right1-con2 h1{
        padding: 10px;
        font-size: 23px;
    }
    .team__Right1-con p, .team__Right1-con2 p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .quotes{
        padding: 5px;
        border-radius: 50%;
        background-color: #fff;
        color: black;
    }
    .team__thojzat{
        font-size: 30px !important; 
        padding: 5px !important;
    }
    .shigjeta__icon{
        padding: 0px 5px;
        background-color: black;
        color: white;
        font-size: 30px;
    }
    .shigjeta-majt, .shigjeta-djatht{
        margin:10px;
    }
    .shigjeta-c {
        width: 60%;}
}
@media only screen and (max-width: 380px) {
    .team{
        height: 125vh;
    }
    .team__left h1{
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    .team__left p{
        margin-top: 0px;
        width: 90%;
        font-size: 16px;
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
    }
    .team-btn-container {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .team{
        height: 150vh;
    }
    .team__left h1{
        font-size: 21px;
        width: 100%;
        text-align: center;
    }
    .team__left p{
        font-size: 15px;
    }
    .team-btn-container {
        margin-top: 20px;
    }
    .team-btn-container a {
        padding: 8px 25px;
    }
    .team__Right1-con h1, .team__Right1-con2 h1 {
        padding: 10px;
        font-size: 19px;
    }
    .team__Right1-con p, .team__Right1-con2 p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .shigjeta-c {
        width: 90%;}
}
