:root {
    --content-background-color: white !important;
  }

.services{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; 
    padding-top: 100px;
    height: 900px;
}
.services h1 {
    padding: 0 1em;
    margin: 60px 0px;
    font-size: 55px;
  }
.slideri{
    background-color: white !important;
}
.ngjyraBardh{
    color: white;
}
.awssld__content{
    background-color: #fff ;
}
.awssld__bullets--active{
    background-color: #006FFF !important;
}
.brcpxa {
    background-color: #005FDB !important;
    box-shadow: 0 0 1px 3px rgb(3, 48, 100) !important;
}
/* @media screen and ( max-height: 699px ) {
    .services{ 
        height: 167vh;
    } 
} */
@media only screen and (max-width: 1520px) {
    .services{ 
        height: 750px;
        margin-top: 50px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 44px !important;
      }
}
@media only screen and (max-width: 1474px) {
    .services{ 
        height: 750px;
        margin-top: 50px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 44px !important;
      }
}
@media only screen and (max-width: 1394px) {

    .services{ 
        height: 1050px;

    } 
}

@media only screen and (max-width: 836px) {
    .services{ 
        height: 1000px;
        width: 95%;
        margin-top: 30px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 34px !important;
      }
}
@media only screen and (max-width: 660px) {
    .services{ 
        height: 2000px;}
}
@media only screen and (max-width: 500px) {
    .services{ 
        height: 1850px;
        width: 95%;
        margin-top: 40px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 24px !important;
      }
      .awssld{
        height: 250vh;
    }

    }

    @media only screen and (max-width: 380px) {
        .services{
            height: 1650px;
        }
      }
      @media only screen and (max-width: 348px) {
        .services{
            height: 1600px;
        }
      }