.SectionH2_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service:hover{
    border-color: #006FFF ;
    -webkit-box-shadow: 0px 0px 65px -9px rgba(92, 93, 94, 0.55);
    -moz-box-shadow: 0px 0px 65px -9px rgba(92, 93, 94,0.55);
    box-shadow: 0px 0px 65px -9px rgba(92, 93, 94,0.55);
    transform: scale(1.05);
}
.service{
    margin-top: 20px;
    width: 360px;
    height: 325px;
    border: 1px solid rgb(199, 199, 199);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 50px;
    border: 1px #C1C1C1 solid;
    border-radius: 30px;
    padding:40px;
    padding-top: 30px;
}
.service-icon{
    transform: translateX(45%);
    background-color: #006FFF;
    color: white !important;
    margin-left: 38%;
    margin-right: auto;
    text-align: center;
    font-size: 2.5rem;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 9px;
}
.service-title{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}
.service-info{
    color: #C1C1C1;
}

@media only screen and (max-width: 1520px) {
    .SectionH2_wrapper{ 
        height: 67vh;
    } 
    .service{
    width: 340px;
    height: 305px;}
}
@media only screen and (max-width: 1474px) {

    .SectionH2_wrapper{ 
        height: 65vh;

    } 
}
@media only screen and (max-width: 1394px) {

    .SectionH2_wrapper{ 
        height: 100vh;

    } 
}
@media only screen and (max-width: 1110px) {
    .service{
        width: 300px;
        height: 310px;
        padding: 40px;
        padding-top: 30px;
    }
}
@media only screen and (max-width: 836px) {
    .SectionH2_wrapper{ 
        height: 100vh;

    } 

}
@media only screen and (max-width: 660px) {
    .SectionH2_wrapper{ 
        height: 190vh;}
}
@media only screen and (max-width: 500px) {
    .service{
        margin-top: 20px;
        width: 330px;
        height: 280px;
        padding: 50px;
         border-radius: 30px;
        padding:30px 30px;
    }
    .SectionH2_wrapper{ 
        height: 252vh !important;

    } 
    .awssld{
        height: 252vh !important;
    }
    .service-icon{
        transform: translateX(45%);
        font-size: 2.5rem;
        padding: 0px 15px;
    }
    .service-title{
        font-size: 17px;
    }
}

@media only screen and (max-width: 380px) {
    .SectionH2_wrapper{
        height: 250vh;
    }
    .awssld{
        height: 250vh;
    }
    .service{
        margin-top: 10px;
        width: 300px;
        height: 250px;
        padding:25px 30px;
    }
    .service-info{
        font-size: 14px;
        color: #a8a8a8;
    }
  }

  @media only screen and (max-width: 348px) {
    .SectionH2_wrapper{
        height: 288vh ;
    }
    .awssld{
        height: 288vh ;
    }
    .service{
        margin-top: 15px;
        width: 270px;
        height: 240px;
        padding: 22px 30px;
    }
    .service-info{
        font-size: 13px;
        color: #a8a8a8;
    }
    .service-icon {
        margin-left: 35%;
  }
}