:root {
    --content-background-color: white !important;
  }
.services{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; 
    margin-top: 70px;
    height: 80vh;
}
@media only screen and (max-width: 1520px) {
    .services{ 
        height: 100vh;
        margin-top: 50px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 44px !important;
      }
}
@media only screen and (max-width: 800px) {
    .services{ 
        height: 210vh;
        width: 95%;
        margin-top: 30px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 34px !important;
      }
}
.services h1 {
    padding: 0 1em;
    margin: 60px 0px;
    font-size: 55px;
  }
  .awssld{
      height: 70vh !important;
  }
.slideri{
    background-color: white !important;
}
.ngjyraBardh{
    color: white;
}
.awssld__content{
    background-color: #fff ;
}
.awssld__bullets--active{
    background-color: #006FFF !important;
}
@media only screen and (max-width: 500px) {
    .services{ 
        height: 250vh;
        width: 95%;
        margin-top: 40px;

    } 
    .services h1 {
        padding: 0 1em;
        margin: 20px 0px;
        font-size: 24px !important;
      }
      .awssld{
        height: 150vh !important;
    }

    }

    @media only screen and (max-width: 376px) {
        .services{
            height: 278vh;
        }
        .awssld{
            height: 278vh;
        }
      }
     /*  @media only screen and (max-width: 346px) {
        .WorkSection{
            height: 310vh;
        }
      }
 */