.sectionOA3 {
  background-color: #f8f8f8;
  padding: 2rem 0;
}

.sectionOA3_img {
  background-image: url("../../../assets/images/ouragency/Image\ 5.jpg");
  height: 500px;
}
.sectionOA3_text > h1 {
  font-size: 2.2rem;
}
.sectionOA3_text > p {
  color: #b2b2b2;
}
@media (max-width: 576px) {
  .sectionOA3_text > h1 {
    font-size: 1.6rem !important;
  }
}
