.sectionOA1 {
  background-image: linear-gradient(
      0deg,
      rgba(34, 39, 62, 0.4),
      rgba(34, 39, 62, 0.4)
    ),
    url("../../../assets/images/ouragency/Rectangle\ 165.jpg");
}

.sectionOA1 > div:first-child {
  padding: 11% 2%;
}

.img_ourAgency_1 {
  background-image: url("../../../assets/images/ouragency/Image\ 4.jpg");
  height: 450px;
}

.sectionOA1_text > h1 {
  font-size: 2.2rem;
}

@media (max-width: 992px) {
  .img_ourAgency_1 {
    height: 350px;
    margin: 2%;
  }
  .sectionOA1 > div:first-child {
    padding: 8rem 2%;
  }
  .sectionOA1_row {
    flex-flow: wrap-reverse !important;
  }
}
@media (max-width: 576px) {
  .sectionOA1_text > h1 {
    font-size: 1.6rem !important;
  }
}
