.SectionWD1{
    background-color: #d0c694;
}
.SectionWD1 .container {
    padding: 8rem 15px 8rem;
  }
.SectionWD1 > h1 {
    font-size: 20px !important;
}
.SectionWD1 > p {
    font-size: 1rem;
}
.sectionSO1_img {
    background-image: url(./../../../../assets/Services/WebDesign/MaskGroup1.jpg);
    height: 480px;
    border-radius: 20px;
    margin: 0 2rem;
    background-size: cover;
  }
  @media only screen and (max-width: 768px) {
    .SectionWD4{
        height: 300px;
    }
}