.SectionITc2{
	background-image: linear-gradient(
		to right,
		rgba(4, 11, 39, 0.9),
		rgba(4, 12, 46, 0.9)
	  ), url(./../../../../assets/Services/IT-Consulting/section_2bg.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	padding-bottom: 30px;
}
.SectionITc2_wapper > h2{
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}