.SectionITc3 > h3{
	margin-top: 80px;
	text-align: center;
	margin-bottom: 40px;
}

.SectionITc3_icon1, .SectionITc3_icon2, .SectionITc3_icon3, .SectionITc3_icon4{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	border: 1px solid rgb(233, 233, 233);
}
.ManagementBox p:hover{
	color: black;
}
.SectionITc3_icon1{
	background-image: url(./../../../../assets/Services/IT-Consulting/section_3icon1.jpg);
}
.SectionITc3_icon2{
	background-image: url(./../../../../assets/Services/IT-Consulting/section_3icon2.jpg);
}
.SectionITc3_icon3{
	background-image: url(./../../../../assets/Services/IT-Consulting/section_3icon3.jpg);
}
.SectionITc3_icon4{
	background-image: url(./../../../../assets/Services/IT-Consulting/section_3icon4.jpg);
}
.SectionITc3__Box{
	padding: 20px 20px !important;
	border-radius: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid transparent;
}
.SectionITc3__Box:hover,.SectionITc3__Box:hover,.SectionITc3__Box:hover,.SectionITc3__Box:hover{
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.39);
	border-bottom: 1px solid rgb(128, 128, 128);
}
.SectionITc3__Box > h6{
	text-align: center;
	margin: 25px 0;
	font-size: 14px;
}
.SectionITc3__Box > p{
	color: rgb(126, 126, 126);
	font-size: 12px;
	line-height: 1.7;
}
@media only screen and (max-width: 768px) {
	.SectionITc3 > h3{
		margin-top: 60px;
		font-size: 23px;
		margin-bottom: 20px;
	}
}