.footer{
    margin-top: 60px;
    width: 100%;
    background-color: #006FFF;
    position: absolute;
}
.sub-footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -154px;
}
.subscribe-c{
    transform: translate(-15%, -40%) !important;
    position: relative;
}
.sub-footer h1{
    position: relative;
    margin-top: -154px;
    color: white;
    font-size: 45px;
    font-weight: 600;
   /*  transform: translate(-15%, -100%); */

}
.sub-footer input{
    padding: 14px;
    position: relative;
    margin-top: -154px;
    font-size: 15px;
    border-radius: 9px;
    border: none;
    width: 25%;

}
.sub-footer input:focus{
 border-color:  #006FFF;
}
.sub-footer button{
    padding: 14px;
    position: relative;
    margin-top: -154px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: #006FFF;
    outline: none;
    border-radius: 9px;
    border: none;
    cursor: pointer;

}
.img-footeri{
    clip-path: polygon(0 0, 100% 29%, 100% 100%, 0 100%);
    border-radius: 16% 45% 0 0;
    width: 100%;
}
/* ========================================= */
.down-footer{
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
}
.down-footer-loc{
width: 40%;
text-align: left;
color: white;
}
.down-footer-loc p{
    line-height: 8px;
}
.down-footer-link{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.down-footer-link-c{
    padding: 0px 40px;
}
.down-footer-link-c h1{
    color: white;
    text-align: left; 
}
.down-footer-link-c a{
    display: block;
    color: #6FB9FF;
    text-decoration: none;
    text-align: left;    
    padding: 10px 0px;
    font-weight: 500;
}
.footer-link{
    display: flex;
    flex-direction: column;
}
/* ====================================== */
.footer-fund{
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}
.footer-fund p{
    color: white;
    width: 35%;
    text-align: left;
    display: flex;
    align-items: center;

}
.footer-icon-c{
    display: flex;
    flex-direction: row;
    color: white;
    width: 65%;
    margin: 15px 0px;
}
.footer-icon-c a{
    text-decoration: none;
    
}
.footer-icon-label{
    padding: 2px 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.ikonaFooter{
    padding: 5px 10px;
    color: black !important;
    background-color: #fff !important;
    border-radius: 5px;
    margin-right: 10px;
}