.SectionCS2{
    margin-top: 70px;
    height: 800px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
.SectionCS2Left{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
}
.SectionCS2Left h1{
    font-size: 45px;
    font-weight: 600;
    width: 70%;
}
.SectionCS2Left p{
    font-size: 18px;
    color: #a19f9f;
    width: 70%;
    margin-bottom: 40px;
    margin-top: 20px;
}
/* ========================================= */
.SectionCS2Right{
    width: 40%;
    height: 80%;
    margin: 90px 90px;
    background-image: url(./../../assets/CaseStudies/section1CS.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.SectionCS2Right:hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@media only screen and (max-width: 1150px) {
    .SectionCS2{
        height: 700px;}
    .SectionCS2Left h1{
        width: 100%;
        font-size: 35px;
    }
    .SectionCS2Left p{
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .SectionCS2{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .SectionCS2Left{
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .SectionCS2Right{
        width: 90%;
        height: 80%;
        margin: 90px 90px;
        margin-left: auto;
        margin-right: auto;
    }
    .SectionCS2Left h1{
        width: 100%;
    }
    .SectionCS2Left p{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .SectionCS2{
        height: 95vh;
        margin-top: 10px;
    }
    .SectionCS2Left{
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 50%;

    }
    .SectionCS2Left h1{
        font-size: 25px;
        font-weight: 600;
    }
    .SectionCS2Left p{
        font-size: 15px;
    }
    .SectionCS2 a{
        margin-top: 20px;
        padding: 8px 25px;
    }
    .SectionCS2Right{
        width: 90%;
        height: 50%;
        margin: 5px 5px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 376px) {
    .SectionCS2{
        height: 100vh;
        margin-top: 10px;
    }
    .SectionCS2Left{
        width: 100%;
        height: 55%;
    }
    .SectionCS2Right{
        width: 100%;
    }
}
@media only screen and (max-width: 325px) {
    .SectionCS2{
        height: 120vh;
        margin-top: 10px;
    }
    .SectionCS2Left h1{
        font-size: 21px;
        font-weight: 600;
    }
    .SectionCS2Left p{
        font-size: 13px;
    }

}