.bannerBlog{
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
/* ======================== pjesa e banerit me text ========================================= */
.banner__textBlog{
    margin-top: 13%;
    width: 45%;
    color: white;
    text-align: left;
}
.banner__textBlog h1{
    font-size: 48px;
    width: 80%;
}
.banner__textBlog p {
    width: 70%;
}
.div-banner-btnBlog{
    margin-top: 9vh;
}
.banner__textBlog a{
    color: white;
    margin-top: 100px;
    text-decoration: none;
    color: white;
    background-color: #006FFF;
    padding: 12px 45px;
    border-radius: 50px;
}
.banner__textBlog a:hover{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
}


/* @media only screen and (max-width: 1260px) {
    .banner__textBlog h1{
        font-size: 38px;
        width: 80%;
    }
} */

/* ======================== pjesa e banerit me foto ========================================= */
.banner__imgBlog{
    margin-top: 5%;
    width: 53%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.banner__imgBlogLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}
.banner__imgBlogRight{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-between !important;
}


.banner-img1Blog{
    background-image: url(./../../assets/Blog/blogBanner1.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    margin: 30px !important;
    width: 21vw;
    height: 55vh;
}
.banner-img1Blog:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.banner-img3Blog{
    background-image: url(./../../assets/Blog/blogBanner2.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 18vw;
    height: 280px;
    margin-bottom: 0px;
    margin-left: 1vw;
}
.banner-img3Blog:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.banner-img4Blog{
    background-image: url(./../../assets/Blog/blogBanner3.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 27vh;
    width: 13vw;
    height: 12vw;
    margin-left: 3vw;
}
.banner-img4Blog:hover{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

@media only screen and (max-width: 750px) {
    .banner__textBlog h1{
        font-size: 28px;
        width: 100%;
    }.bannerBlog{
        height: 110vh;
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }
    .banner__textBlog{
        width: 85%;
        text-align: center;
        margin-top: 20%;
    }
    .banner__textBlog p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .div-banner-btnBlog{
        margin-top: 4vh;
    }
    .banner__imgBlog{
        width: 90vw !important;
        margin-top: -10px;
    }
    /* ===================== */
    .banner__imgBlogRight{
        width: 50%;
        height: 50vh;
    }
    .banner-img1Blog{
        margin: 10px !important;
        width: 40vw;
        height: 35vh;
    }
    .banner-img3Blog{
        width: 25vw;
        height: 280px;
        margin-bottom: 0px;
        margin-left: 1vw;
    }
    .banner-img4Blog{
        margin-top: 12vh;
        width: 17vw;
        height: 12vw;
        margin-left: 3vw;
    }
}
@media only screen and (max-width: 500px) {
    .bannerBlog {
       /*  height: 110vh; */
        width: 100%;
    }
    .banner__textBlog{
        margin-top: 25%;
    }
    .banner__textBlog h1{
        font-size: 23px;
        margin-top: 0;
    }
    .banner__textBlog p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner__textBlog a{
        padding: 10px 35px;
        border-radius: 50px;
    }
    .banner-img1Blog{
        margin: 10px !important;
        width: 40vw;
        height: 30vh;
    }
    .banner-img3Blog{
        width: 35vw;
        height: 25vh;
        margin-bottom: 0px;
        margin-left: 1vw;
    }
    .banner-img4Blog{
        margin-top: 5vh;
        width: 23vw;
        height: 17vw;
        margin-left: 3vw;
    }
}