.SectionB1{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(to right , rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(./../../assets/Blog/bannerBlog.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.SectionB1c{
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
