.SectionB2{
    height: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
.SectionB2 h3{
    text-align: left !important;
    padding: 0px 20px;
}
.SectionB2_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Bbox{
    margin-top: 20px;
    width: 300px;
    height: 335px;
    border: 1px solid rgb(199, 199, 199);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.BlogArtickle__img1{
    height: 200px;
    width: 100%;
    background-image: url(./../../assets/Blog/article1.png);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.BlogArtickle__img2{
    height: 200px;
    width: 100%;
    background-image: url(./../../assets/Blog/article2.png);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.BlogArtickle__img3{
    height: 200px;
    width: 100%;
    background-image: url(./../../assets/Blog/article3.png);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.BlogArtickle__img4{
    height: 200px;
    width: 100%;
    background-image: url(./../../assets/Blog/article4.png);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.Bbox a{
    text-decoration: none;
    color: #006FFF;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-left: 7%;
    padding: 2px 0px;
    border-bottom: 2px solid #006FFF;
    text-align: left !important;
}
.Bbox h3{
    margin-top: 20px;
    font-size: 20px;
}
.Bbox a:hover{
    text-decoration: none;
    transform: scale(1.05);
}
.BlogArtickle__img1:hover,.BlogArtickle__img2:hover,.BlogArtickle__img3:hover,.BlogArtickle__img4:hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 1508px) {
    .SectionB2{ 
        height: 870px;

    } 
}
@media only screen and (max-width: 760px) {
    .SectionB2{ 
        height: 1550px;
        margin-top: 100px;
    } 
}
@media only screen and (max-width: 500px) {
    .SectionB2{ 
        height: 1530px;
        margin-top: 70px;
    } 
    .SectionB2 h1{
        font-size: 30px;
        text-align: center;
    }
}
@media only screen and (max-width: 380px) {
    .SectionB2{ 
        height: 1530px;
        margin-top: 70px;
    } 
    .SectionB2 h1{
        font-size: 25px;
        text-align: center;
    }
}
@media only screen and (max-width: 350px) {
    .SectionB2{ 
        height: 270vh;
        margin-top: 70px;
    }
    .SectionB2 h1{
        font-size: 28px;
    }
    .SectionB2 h3{
        padding: 0px 10px;
        font-weight: 600;
    }
    .Bbox a{
        width: 40%;
    }
}