.footer {
  margin-top: -200px;
}

.footer_content {
  padding: 1rem 5% !important;
  padding-top: 15rem !important;
  background-color: #006fff;
}
.footer_content > div:first-child{
  margin-bottom: 50px;
}
.sub-footer{
  background-image: url("../../../assets/Home/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
  width: 89.5vw;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(180px);
}

.subscribe {
  width: 550px;
  margin: auto !important;
}
.subscribe input[type="email"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid transparent;

  border-radius: 8px 0px 0px 8px;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

.subscribe button {
  float: left;
  width: 30%;
  padding: 10px;
  background: #006fff;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 0px 8px 8px 0px;
  border-left: none;
  cursor: pointer;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe button:hover {
  background: #0571ca;
}

.subscribe::after {
  content: "";
  clear: both;
  display: table;
}
.subscribe > h1 {
  margin-bottom: 20px;
  color: white;
}

/* ============================= */
.footer hr {
  background-color: #d1d1d1;
  margin-top: 1%;
  margin-bottom: 1%;
}
.footer-list {
  padding: 0;
  display: flex;
  flex-flow: column;
  margin-left: 3px;
}
.footer-list-text {
  font-size: 1.6rem;
  line-height: 1.7rem;
}
.footer-list li {
  list-style: none;
  padding: 5px 0px;
}

.footer-list li a {
  color: #ffffff;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: none !important;

  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.footer-list li a:hover {
  color: #9ac6ff;
}

.footer-bottom {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom div {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.footer-bottom h6 {
  color: #fff;
  margin: 0;
}

.footer_socialMedia {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-flow: row;
}

.alRight {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.alRight > i {
  font-size: 1.1rem;
  margin-right: 4px;
  vertical-align: middle;
}
.alRight > i > svg {
  vertical-align: text-top;
}

@media (max-width: 992px) {
  .footer > * {
    text-align: center;
  }
  .footer-logo {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .footer-logo > div:first-child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
  }

  .footer_socialMedia {
    flex-flow: wrap column;
    padding: 1rem 0;
    align-items: center;
  }
}
@media (max-width: 1230px) {
  .footer_content {
    padding-top: 13rem !important;
  }
}

@media (max-width: 830px) {
  .sub-footer{
    padding: 80px 0;
    width: 100%;
    height: 355px;
    display: flex;
    transform: translateY(180px);
  }
  .sub-footer{
    clip-path: polygon(0 20%, 100% 20%, 100% 90%, 0 90%);
    height: 320px;
  }
}
@media (max-width: 768px) {
  .footer-bottom {
    flex-flow: column-reverse;
  }
  .sub-footer{
    background-size: cover;
    width: 100%;
  }
  .subscribe{
    width: 400px;
  }
  .subscribe > h1 {
   font-size: 30px;
  }
  
}
@media (max-width: 600px) {
  .footer_content {
    padding-top: 13rem !important;
  }
  .subscribe button {
    float: left;
    width: 30%;
    padding: 6px;
    color: white;
    font-size: 15px;
  }
  .subscribe input[type="email"] {
    padding: 6px;
    font-size: 15px;
    border: 1px solid transparent;
  
    width: 70%;
    background: #f1f1f1;
  }
  .sub-footer{
    clip-path: polygon(0 18%, 100% 18%, 100% 90%, 0 90%);
    height: 320px;
  }
}
@media (max-width: 470px) {
  .subscribe{
    width: 300px;
  }
}