.footer {
  background-color: #006fff;
}
.footer hr {
  background-color: #c2c2c2;
  margin: 1% 0%;
}
.footer-list {
  padding: 0;
  display: flex;
  flex-flow: column;
  margin-left: 3px;
}
.footer-list-text {
  font-size: 1.7rem;
  line-height: 1.7rem;
}
.footer-list li {
  list-style: none;
  padding: 5px 0px;
}

.footer-list li a {
  color: #dddddd;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: none !important;

  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.footer-list li a:hover {
  color: white;
}

.footer-bottom {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom div {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.footer-bottom h6 {
  color: #fff;
  margin: 0;
}

@media (max-width: 992px) {
  .footer > * {
    text-align: center;
  }
  .footer-logo {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .footer-logo > div:first-child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
  }
  .footer-bottom {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .footer-bottom h6 {
    padding-top: 20px;
  }
}
