.sectionSeo3_img1 {
  background-image: url("../../../assets/images/seo/Rectangle\ 137.jpg");
}
.sectionSeo3_img2 {
  background-image: url("../../../assets/images/seo/Rectangle\ 138.jpg");
}
.sectionSeo3_img3 {
  background-image: url("../../../assets/images/seo/Rectangle\ 139.jpg");
}
.sectionSeo3_img4 {
  background-image: url("../../../assets/images/seo/Rectangle\ 137.jpg");
}

.sectionSeo3 > .slick-list {
  margin: 0 2rem !important ;
}

.sectionSeo3_img1,
.sectionSeo3_img2,
.sectionSeo3_img3,
.sectionSeo3_img4 {
  height: 200px;
  width: 250px;
}
.sectionSeo3 {
  margin: 4rem 0;
  margin-bottom: 17rem !important;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .sectionSeo3_img1,
  .sectionSeo3_img2,
  .sectionSeo3_img3,
  .sectionSeo3_img4 {
    height: 180px;
  }
}
@media (max-width: 768px) {
  .sectionSeo3 {
    margin-bottom: 12rem !important;
  }
}
