.sectionSeo1 {
  padding: 10rem 0;
}

.sectionSeo1_img {
  background-image: url("../../../assets/images/seo/Rectangle\ 141.jpg");
  height: 450px;
}

@media (max-width: 992.98px) {
  .sectionSeo1_row {
    flex-wrap: wrap-reverse !important;
  }
  .sectionSeo1 {
    padding: 6rem 0;
  }
}
@media (max-width: 768px) {
  .sectionSeo1 {
    padding: 4rem 0;
  }
}
