body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  outline: none !important;
}
.fullBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.flag-select__btn:focus {
  outline: none !important;
}
.flag-select__option--placeholder {
  display: inline-flex !important;
}
.flag-select__options {
  bottom: 45px !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
.flag-select__option__icon {
  width: 2em !important;
  height: 1.5em !important;
  top: 0 !important;
}
.flag-select__btn {
  color: white !important;
  padding-left: 0 !important;
}
.flag-select__btn:after {
  border-bottom: 5px solid #fff !important;
  border-top: 0 !important;
}
.flag-select__btn span > span {
  color: white;
}
.flag-select__option__label {
  color: black;
}
.col_black {
  color: black;
}

.col_white {
  color: white;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font_helvetica {
  font-family: Helvetica, sans-serif;
}
