.page-notfound {
  background-color: rgb(27, 27, 27);
}
.page-notfound > div:first-child {
  padding: 25% 3%;
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  outline: none !important;
}
.fullBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

@media only screen and (max-device-width: 1366px) {
  .fullBackground {
    background-attachment: scroll;
  }
}

.img_css {
  vertical-align: middle;
  border-style: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: All 0.3s ease-in-out;
  -webkit-transition: All 0.3s ease-in-out;
}

.flag-select__btn:focus {
  outline: none !important;
}
.flag-select__option--placeholder {
  display: inline-flex !important;
}
.flag-select__options {
  bottom: 45px !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
.flag-select__option__icon {
  width: 2em !important;
  height: 1.5em !important;
  top: 0 !important;
}
.flag-select__btn {
  color: white !important;
  padding-left: 0 !important;
}
.flag-select__btn:after {
  border-bottom: 5px solid #fff !important;
  border-top: 0 !important;
}
.flag-select__btn span > span {
  color: white;
}
.flag-select__option__label {
  color: black;
}
.col_black {
  color: black;
}

.col_white {
  color: white;
}
.col_light {
  color: #b2b2b2;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font_helvetica {
  font-family: Helvetica, sans-serif;
}
.font_ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.font_p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

.font-w-500 {
  font-weight: 500;
}
.font-w-600 {
  font-weight: 600;
}
.font-w-700 {
  font-weight: 700;
}
.font-w-800 {
  font-weight: 800;
}
.font-w-900 {
  font-weight: 900;
}

.img_hover::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.img_hover:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
